@font-face {
  font-family: HarryPotter;
  src: url(../../client/src/img/HARRYP__.TTF);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  top: 0px;
  width: 100vw;
  border: 1px solid black;
  background-color: #E2B822;
  color: black;
}

header {
  background-color: F5F2EC;
  border-bottom: 2px solid black;
  margin: 0;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  margin-top: 0;
  padding-top: 20px;
}

header h1 {
  margin: 0;
  width: 100vw;
}

img {
  width: 60vw;
  height: 45vh;
}

form {
  margin-top: 15px;
  text-align: center;
}

.black-back {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
}

.text-input {
  font-family: HarryPotter;
  background-color: rgba(255, 255, 255, 0.75);
  width: 300px;
  padding: 8px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1em;
  border: 2px solid #008788;
}

.submit {
  font-family: HarryPotter;
  width: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #E2B822;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}

.submit:hover {
  background-color: #064F4F;
}

.dog-counter {
  border-radius: 50%;
  font-size: 30px;
  position: absolute;
}

.absoluteTree {
  position: absolute;
  top: 3vh;
  left: 32vw;
  width: 35px;
  height: 35px;
}

.absoluteGum {
  position: absolute;
  top: 24vh;
  left: 47vw;
  width: 35px;
  height: 35px;
}

.absoluteBook {
  position: absolute;
  top: 3vh;
  left: 61vw;
  width: 35px;
  height: 35px;
}

.absoluteStation {
  position: absolute;
  top: 20vh;
  left: 60vw;
  width: 35px;
  height: 35px;
}

.absolutePub {
  position: absolute;
  top: 30vh;
  left: 65vw;
  width: 35px;
  height: 35px;
}

.absoluteGum:hover, .absoluteTree:hover, .absoluteBook:hover, .absolutePub:hover, .absoluteStation:hover {
  cursor: pointer;
}

.image {
  position: relative;
  margin-top: 25px;
}

.App {
  text-align: center;
}

.link {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.material-icons {
  font-size: 40px;
}

.App-link {
  color: #09d3ac;
}
/* ***************************** DiagonAlleyInt *************************** */
.DiagonAlleyIntContainer {
  margin-top: 1%;
}

.bubbleWallImage {
  height: 500px;
  width: 400px;
}

/* ***************************** DiagonAlley *************************** */


.backgroundDiv {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url('brick.jpg');
}

.tryAgain {
  width: 20vw;
  height: 10vh;
  border-radius: 20%;
  background: black;
  font-size: 20px;
  color: white;
}

.youFailedText {
  font-size: 3m;
}

.diagonDiv {
  height: 300px;
  width: 300px;
  border: 30px solid black;
}

.innerDiv {
  height: 300px;
  width: 300px;
}
/* ***************************** DiagonAlley *************************** */
.containerTwo {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  background-image: url('diagonAlley.jpg');
  background-size: cover;
}

.titleDiagon {
  margin: 5%;
  font-size: 2em;
  color: white;
}

.backToChecklist {
  text-decoration: none;
  color: white;
  font-size: 3em;
  border-radius: 20%;
}

/* ***************************** wandGenerator *************************** */
.wandGeneratorBackground {
  height: 100vh;
  width: 100vw;
}

.wandGeneratorContainer {
  margin: 5%;
}

