nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  position: fixed;
  top: 0px;
  width: 100vw;
  border: 1px solid black;
  background-color: gray;
}

header {
  background-color: gray;
  border-bottom: 2px solid black;
  margin-top: 35px;
  margin: 0;
  font-size: 20px;
}

header h1 {
  margin: 45px 0 10px 0;
}

img {
  width: 60vw;
  height: 40vh;
}

.dog-counter {
  border-radius: 50%;
  font-size: 30px;
  position: absolute;
}

.absoluteTree {
  position: absolute;
  top: 3vh;
  left: 32vw;
  width: 35px;
  height: 35px;
}

.absoluteGum {
  position: absolute;
  top: 20vh;
  left: 44vw;
  width: 35px;
  height: 35px;
}

.image {
  position: relative;
  margin-top: 50px;
}

.bubbleWallImage {
  
}
.App {
  text-align: center;
}

.link {
  font-size: 30px;
  text-decoration: none;
}

.material-icons {
  font-size: 40px;
}

.App-link {
  color: #09d3ac;
}

.backgroundDiv {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  background-image: url('brick.jpg');
  background-size: cover;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.containerTwo {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  background-image: url('diagonAlley.jpg');
  background-size: cover;
}

.diagonDiv {
  height: 300px;
  width: 300px;
  border: 30px solid black;
}

.innerDiv {
  height: 300px;
  width: 300px;
}

.titleDiagon {
  font-size: 2em;
  color: white;
}

.backToChecklist {
  text-decoration: none;
  color: white;
  font-size: 3em;
  border-radius: 20%;
}

.tryAgain {
  margin: 2%;
  width: 20vw;
  height: 10vh;
  border-radius: 20%;
  background: black;
  font-size: 20px;
  color: white;
}
