nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  border: 1px solid black;
  background-color: gray;
}

header {
  background-color: gray;
  border-bottom: 2px solid black;
  top: 0px;
  margin: 0;
  font-size: 20px;
}

header h1 {
  margin: 0 0 10px 0;
}

/* img {
  width: 500px;
  height: 400px;
} */

.App {
  text-align: center;
}

.link {
  font-size: 30px;
  text-decoration: none;
}

.material-icons {
  font-size: 40px;
}

