@font-face {
  font-family: HarryPotter;
  src: url(../../client/src/img/HARRYP__.TTF);
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: HarryPotter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


